<div class="row top-header align-items-center">
    <div class="col-md-6">
        <div class="logo-wrap">
            <img src="imgGenset/logo.png" alt="Bach Multi Global">
        </div>
    </div>
    <div class="col-md-6 header-right">
        <strong>Sales & Service:</strong> 021-3862351<br>
        PT. BACH MULTI GLOBAL<br>
        Jakarta Pusat
    </div>
</div>

<div class="nav-wrapper">
    <div class="main-nav">
        <a href="home.html" data-page="home">Home</a>
        <a href="about.html" data-page="about">About Us</a>
        <a href="genset.html" data-page="genset">Genset</a>
        <a href="service.html" data-page="service">Service</a>
        <a href="blog.html" data-page="blog">Blog</a>
        <a href="contact.html" data-page="contact">Contact</a>
    </div>
</div>

